.top-nav-wrapper(style="height:49px;")
  input(type="checkbox")
  .hamburg-icon
    .line.top
    .line.mid
    .line.btm
  .top-nav
    a.logo(href="//nanobox.io")
      img.shadow-icon(data-src="logo")
      .company Nanobox
    .menu
      .nav
        .left-items
          .more.what-is-nanobox
            a(href="/what-is-nanobox")
              .txt What is Nanobox
              img.shadow-icon(data-src="more-arrow")
            .sub-menu
              .shadow
                a(href="/app-development-environment")
                  .icon
                    img.shadow-icon(data-src="nav-local")
                  .txt Local Dev Environment
                a(href="/app-deployment-tool")
                  .icon
                    img.shadow-icon(data-src="nav-deploy")
                  .txt App Deployment Platform
                a(href="/app-server-management-system")
                  .icon
                    img.shadow-icon(data-src="nav-production")
                  .txt Production Management Tool
          a.get-started(href="http://guides.nanobox.io") Get Started
          a(href="/pricing") Pricing
        .right-items
          .phone Questions? +1 (801) 736-1234
          a(href="https://dashboard.nanobox.io/users/login") Login
          a.sign-up(href="https://dashboard.nanobox.io/users/register") Sign Up
